**/.DS_Store
/node_modules
/_*/

/.bcl_up_server_app
/.bundle
/.circleci
/.dockerignore
/.elasticbeanstalk
/.env*
/.git
/.gitignore
/.idea
/.ruby-lsp

/coverage/*
/db/*.sqlite3
/log/*.log
/public/assets
/tmp/*
/vendor/*

/docker-compose.yml
